[submodule "data"]
	path = data
	url = https://github.com/cosmonium/cosmonium-data.git
	branch = master
[submodule "tools/p3d_module_builder"]
	path = tools/p3d_module_builder
	url = https://github.com/cosmonium/P3DModuleBuilder.git
	branch = cosmonium
[submodule "third-party/cefpanda"]
	path = third-party/cefpanda
	url = https://github.com/cosmonium/cefpanda
        branch = cosmonium
[submodule "third-party/gltf"]
	path = third-party/gltf
	url = https://github.com/cosmonium/panda3d-gltf
        branch = cosmonium
[submodule "third-party/tabbedframe"]
	path = third-party/tabbedframe
	url = https://github.com/cosmonium/TabbedFrame
	branch = cosmonium
[submodule "third-party/directguilayout"]
	path = third-party/directguilayout
	url = https://github.com/cosmonium/DirectGui-layout-system
	branch = cosmonium
