# Compilation artifacts
*.pyc
*.pyd
*.so
*.o
*.pdb
build/
dist/
source/interrogate*
source/interrogate*
source/requirements*
*.mo
cosmonium/buildversion.py

# Eclipse artifacts
.project
.pydevproject
.settings/

# PLY artifacts
*_parsetab.py
parser.out

#Runtime logs
genshader*

#Screenshots
screenshots/

#OS Specific
.DS_Store
