numpy==2.1.0 ; python_version >= "3.9"
numpy==1.24.4 ; python_version < "3.9"
pywin32 ; sys_platform == 'win32' or sys_platform == 'win_amd64'
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
cefpython3==66.1 ; sys_platform == 'win32' or sys_platform == 'win_amd64'
https://github.com/cosmonium/cefpython/releases/download/v66.1/cefpython3-66.1-py3-none-manylinux2014_x86_64.whl ; sys_platform == 'linux'
jinja2 == 3.1.4
MarkupSafe == 2.1.5
