# panda3d-1.11.0.dev3849 must be manually installed from https://archive.panda3d.org/simple or from SDK

cefpython3==66.1 ; python_version < "3.10" and (sys_platform == 'win32' or sys_platform == 'win_amd64')
https://github.com/cosmonium/cefpython/releases/download/v66.1/cefpython3-66.1-py3-none-manylinux2014_x86_64.whl ; python_version < "3.10" and sys_platform == 'linux'

jdcal == 1.4.1

jinja2 == 3.1.6

MarkupSafe == 3.0.3

mistune == 3.2.0

numpy==1.26.4

platformdirs == 4.4.0 ; python_version < "3.10"
platformdirs == 4.5.1 ; python_version >= "3.10"

pydantic == 2.12.5

pywin32 == 311 ; sys_platform == 'win32' or sys_platform == 'win_amd64'

ruamel.yaml == 0.19.1

ruamel.yaml.clib == 0.2.15 ; sys_platform != 'darwin'
ruamel.yaml.clib == 0.2.8 ; sys_platform == 'darwin'  # technically only macOS version < 12.0 but platform_release < "12.0" fails when interpreted on Linux
